<h1>this is the secret page</h1>
<p>You Found Me!</p>

<img src="https://www.rd.com/wp-content/uploads/2017/10/The-Simple-Way-to-Stop-Reliving-Embarrassing-Moments-According-to-Science_266706047-file404-760x506.jpg">

<li><a href="/register">SignUp</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>