<% include partials/header %>


<h1>This is the homepage</h1>

<img src="https://patiliyo.com/wp-content/uploads/2016/03/kedi-mirildamasinin-tedavi-edici-gucu-mirlamasi-titresim-stres-patiliyo-1.jpg">

<% include partials/footer %>
